{% extends 'core/base.html' %}
{% block content %}

<div class="card shadow-sm border-0">
  <div class="card-body text-center">
    <h4 class="mb-3 text-danger">Confirmar Exclusão</h4>
    <p>Tem certeza que deseja excluir a categoria <strong class="text-primary">{{ categoria.nome }}</strong>?</p>
    
    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger me-2">
        <i class="bi bi-trash"></i> Confirmar Exclusão
      </button>
      <a href="{% url 'listar_categorias' %}" class="btn btn-outline-secondary">Cancelar</a>
    </form>
  </div>
</div>

{% endblock %}
